version: '3.8'
services:
  web:
    build: .
    depends_on:
      - db
    ports:
      - "8069:8069"  # Expose Odoo on port 8069
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
      - POSTGRES_DB=postgres
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./custom_addons:/mnt/custom_addons  
    command: >
      odoo --init=workstation
      --without-demo=all
      --db_host=db
      --db_user=odoo
      --db_password=odoo

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - postgres-data:/var/lib/postgresql/data/pgdata

volumes:
  odoo-web-data:
  postgres-data:
